.vente {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        font-family: "Lato", cursive;
        font-size: 35px;
        margin-top: 50px;
        text-align: center;
        color: $colorSite;
    }
    #carouselExampleIndicators {
        width: 80%;
        display: flex;
        margin-bottom: 75px;
        .carousel-inner {
            height: 600px;
            position: relative;
            margin-top: 50px;
            margin-bottom: 50px;
            border: 1px solid grey;
            img {
                height: 600px;
                @media screen and (max-width: 22.5em) {
                    height: 200px;
                }
                @media screen and (max-width: 48em) {
                    height: 300px;
                }
            }
            .fa-heart {
                z-index: 500;
                position: absolute;
                font-size: 45px;
                color: $colorSite;
                top: 5%;
                right: 5%;
                &:hover {
                    color: rgb(247, 144, 161);
                }
            }
            .fa-question {
                display: block;
                text-decoration: none;
                color: $colorSite;
                font-family: 'Lato', cursive;
                font-size: 45px;
                position: absolute;
                z-index: 500;
                top: 5%;
                left: 5%;
                &:hover {
                    color: rgb(247, 144, 161);
                }
            }
            @media screen and (max-width: 22.5em) {
                height: 200px;
                margin-top: -50px;
            }
            @media screen and (max-width: 48em) {
                height: 300px;
            }
        }
    }
    .article {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 75px;
        @media screen and (max-width: 22.5em), (max-width: 48em) {
            flex-direction: column;
            margin-top: -90px;
            font-size: 14px;
        }
        .achat {
            padding: 25px;
            border-image: url("../img/logo2.png")5/3px;
            box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
            width: 45%;
            margin-top: 50px;
            @media screen and (max-width: 22.5em), (max-width: 48em) {
              width: 80%;
            }
            .fa-heart {
                color: $colorSite;
                font-size: 20px;
                margin-left: 2%;
            }
            span {
                font-weight: bold;
            }
            h3 {
                text-align: center;
                font-size: 25px;
                font-family: "Lato", cursive;
                margin-bottom: 30px;
                font-weight: bold;
            }
            p {
                margin-top: 20px;
                margin-bottom: 50px;
            }
            a {
                margin-top: 50px;
                margin-bottom: 50px;
                display: block;
                text-decoration: none;
                color: $colorSite;
                font-family: "Lato", cursive;
                font-size: 20px;
                border: 1px solid $colorSite;
                padding: 15px 35px;
                text-align: center;
                transition: .45s ease-in-out;
                @media screen and (max-width: 22.5em) {
                    width: 90%;
                    font-size: 16px;
                    padding: 5px;
                }
                &:hover {
                    color: white;
                    background-color: $colorSite;
                    border: none;
                }
            }
        }
        h2 {
            text-align: center;
            font-size: 25px;
            font-family: "Lato", cursive;
            margin-bottom: 30px;
            font-weight: bold;
        }
        .card {
            z-index: 1;
            width: 30%;
            height: 400px;
            overflow: hidden;
            margin: 0 auto;
            background-color: white;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            transition: all 0.7s ease-in-out;
            @media screen and (max-width: 22.5em), (max-width: 48em) {
                margin-top: 70px;
                width: 80%;
            }
        }
        .card.active {
            height: 490px;
        }
        .banner {
            z-index: 2;
            margin-top: -150px;
            width: 100%;
            height: 150px;
            border-bottom: solid 1px lightgrey;
            transition: all 0.7s ease-in-out;
        }
        .banner.active {
            height: 0;
        }
        .photo {
            z-index: 3;
            border-radius: 50%;
            height: 150px;
            width: 150px;
            background-color: white;
            margin: 0 auto;
            top: 35px;
            box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
            transition: top 0.7s ease-in-out, background 0.15s ease;
        }
        .photo.active {
            top: -80px;
        }
        .card ul {
            list-style: none;
            text-align: center;
            padding-left: 0;
            margin-top: 57px;
            margin-bottom: 30px;
            font-size: 20px;
            transition: all 0.7s ease-in-out;
            a {
                color: $colorSite;
            }
        }
        .card ul.active {
            opacity: 0;
            visibility: hidden;
        }
        .card i {
            font-size: 25px;
            display: inline-block;
            margin-top: 10px;
            margin-left: 40px;
            margin-right: 150px;
            width: 300px;
            text-align: left;
            color: #C7D0E1;
        }
        button.contact {
            width: 100%;
            height: 35px;
            display: block;
            border: none;
            background-color: transparent;
            font-family: inherit;
            color: white;
            background-color: $colorSite;
            font-size: 12px;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;
        }
        button.contact:hover {
            cursor: pointer;
            background-color: $colorSite2;
        }
        button.contact:focus {
            outline: 0;
        }
        .social-media-banner {
            width: 100%;
            height: 50px;
            margin-top: 350px;
            text-align: center;
            position: absolute;
            transition: all 1.5s ease-in-out;
        }
        .social-media-banner.active {
            opacity: 0;
            visibility: hidden;
            transition: all 0.1s ease-in-out;
        }
        .fa-twitter-square,
        .fa-facebook-square,
        .fa-instagram,
        .fa-linkedin {
            transition: all 0.3s ease-in-out;
            font-size: 35px;
            opacity: 0.7;
            color: $colorSite;
            margin: 2%;
        }
        .fa-twitter-square:hover,
        .fa-facebook-square:hover,
        .fa-instagram:hover,
        .fa-linkedin:hover {
            color: $colorSite2;
        }
        .email-form {
            height: 0;
            overflow: hidden;
            width: 100%;
            z-index: -1;
            transition: all 0.5s ease-in-out;
        }
        .email-form.active {
            height: 310px;
            z-index: 3;
            transition: all 1s ease-in-out;
        }
        .email-form input {
            width: 200px;
            text-transform: capitalize;
            background-color: $colorSite2;
            margin: 0 auto;
            font-family: inherit;
            border: 1px solid #dadee5;
            margin-top: 25px;
            height: 30px;
            display: block;
            transition: all 0.2s ease-in-out;
        }
        .email-form input:focus,
        .email-form textarea:focus {
            border: 1px solid grey;
            outline: none;
        }
        ::-webkit-input-placeholder {
            font-size: 12px;
            text-transform: uppercase;
            text-align: center;
        }
        .email-form textarea {
            width: 200px;
            text-transform: capitalize;
            background-color: $colorSite2;
            margin: 0 auto;
            display: block;
            margin-top: 20px;
            border: 1px solid #dadee5;
            font-family: inherit;
            transition: all 0.3s ease-in-out;
        }
        .email-form button {
            margin-top: 30px;
        }
    }
    .description {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        @media screen and (max-width: 22.5em) {
                margin-top: -70px;
        }
        .contact {
            font-weight: bold;
            margin-top: 50px;
            margin-bottom: 25px;
        }
        h2 {
            @include h2;
        }
        a {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 100px;
            display: block;
            text-decoration: none;
            color: $colorSite;
            border: 1px solid $colorSite;
            width: 30%;
            padding: 10px 10px;
            transition: .45s ease-in-out;
            &:hover {
                background-color: $colorSite;
                color: white;
            }
        }
    }
    .comments {
        @include comments;
    }
    html {
        overflow-x: hidden;
    }
}

.fa-angle-right,
.fa-angle-left {
    color: $colorSite;
    font-size: 45px;
}

.carousel-indicators li {
    margin-top: -50px;
    background-color: $colorSite;
}