main {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    @media screen and (max-width: 22.5em),(max-width: 36em) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    #left {
        position: relative;
        text-align: center;
        width: 50%;
        height: 100%;
        background-color: $colorSite;
        @media screen and (max-width: 22.5em),(max-width: 36em) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            height: 400px;
            width: 100%;
        }
        h2,
        h3 {
            margin-top: 10%;
            color: white;
            font-family: 'Londrina Sketch', cursive;
            font-size: 85px;
            @media screen and (max-width: 22.5em),(max-width: 36em) {
                font-size: 65px;
            }
        }
        a {
            position: absolute;
            color: white;
            font-size: 25px;
            border: 1px white solid;
            padding: 15px 35px;
            @include button;
            width: 70%;
            @media screen and (max-width: 22.5em),(max-width: 36em) {
                margin-top: 350px;
                color: $colorSite;
                border: 1px solid $colorSite;
                font-size: 25px;
                padding: 15px 0;
            }
        }
    }
    #right {
        position: relative;
        width: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        @media screen and (max-width: 22.5em),(max-width: 36em) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            height: 400px;
            width: 100%;
        }
        img {
            width: 100%;
            height: 100vh;
        }
        .titre{
            position: absolute;
            font-family: 'Lato', cursive;
            color: rgb(255, 230, 1);
            top: 40%;
            font-size: 65px;
            -ms-flex-item-align: center;
                align-self: center;
            @media screen and (max-width: 22.5em),(max-width: 36em){
                font-size: 35px;
                top: 25%;
            }
        }
    }
}