main {
    width: 100%;
    height: 100vh;
    display: flex;
    @media screen and (max-width: 22.5em) {
        flex-direction: column;
        width: 200%;
    }
    #left {
        position: relative;
        text-align: center;
        width: 50%;
        height: 100%;
        background-color: $colorSite;
        @media screen and (max-width: 22.5em) {
            flex-direction: column;
            height: 400px;
        }
        h1,
        h2,
        h3 {
            margin-top: 10%;
            color: white;
            font-family: 'Londrina Sketch', cursive;
            font-size: 85px;
            @media screen and (max-width: 22.5em) {
                font-size: 65px;
            }
        }
        a {
            position: absolute;
            color: white;
            font-size: 25px;
            border: 1px white solid;
            padding: 15px 35px;
            @include button;
            width: 70%;
            @media screen and (max-width: 22.5em) {
                margin-top: 250px;
                color: $colorSite;
                border: 1px solid $colorSite;
                font-size: 30px;
            }
        }
    }
    #right {
        width: 50%;
        @media screen and (max-width: 22.5em) {
            flex-direction: column;
            height: 400px;
            opacity: 0.5
        }
        img {
            width: 100%;
            height: 100vh;
        }
    }
}