footer {
    background-image: url('../img/back.png');
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 170px;
    border-top: 1px solid grey;
    text-align: center;
    @media screen and (max-width: 22.5em) and (max-width: 48em){
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
    }
    @media screen and (max-width: 48em) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
       text-align: center;
    }
    
    p {
        text-align: center;
        width: 100%;
        font-family: 'Lato', cursive;
        font-size: 20px;
        color: $colorSite;
        margin-top: 55px;
        @media screen and (max-width: 22.5em) {
            width: 100%;
            margin-top: 50px;
            font-size: 16px;
        }
    }
}

h2{
    @media screen and (max-width: 22.5em) {
        font-size: 28px;
        text-align: center;
    }
}