header {
    height: 200px;
    background-image: url('../img/back.png');
    /* Underline From Center */
    .hvr-underline-from-center {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        overflow: hidden;
    }
    .hvr-underline-from-center:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 51%;
        right: 51%;
        bottom: 0;
        background: $colorSite;
        height: 1px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        @media screen and (max-width: 22.5em), (max-width: 36em), (max-width: 48em) {
            background-color: white;
        }
    }
    .hvr-underline-from-center:hover:before,
    .hvr-underline-from-center:focus:before,
    .hvr-underline-from-center:active:before {
        left: 0;
        right: 0;
    }
    #menu {
        display: flex;
        width: 100%;
        list-style: none;
        padding-top: 15px;
        @media screen and (max-width: 22.5em), (max-width: 36em), (max-width: 48em) {
            flex-direction: column;
            margin-top: -30px;
        }
        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            display: none;
            position: absolute;
            left: 0;
            z-index: 99999;
            background-color: rgb(211, 206, 206);
            border: 1px solid $colorText;
            li {
                display: flex;
                margin: 0;
                padding: 0;
                display: block;
                width: 250px;
                background-color: white;
            }
            a {
                padding: 10px;
                height: auto;
                line-height: 1;
                display: block;
                white-space: nowrap;
                float: none;
                text-transform: none;
            }
        }
        li {
            display: flex;
            padding: 0 0 10px 0;
            position: relative;
            &:hover>ul {
                display: block;
            }
        }
        a {
            height: 25px;
            padding: 0 35px;
            color: rgb(109, 103, 103);
            font-family: 'Lato', cursive;
            text-decoration: none;
        }
    }
    #menu ul a:hover {
        background-color: $colorSite;
        color: white;
    }
    #menu ul li:first-child a:after {
        content: '';
        position: absolute;
        left: 50px;
        top: -8px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 8px solid rgb(109, 103, 103);
    }
    /* Clear floated elements */
    #menu:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    } // ANIMATION MENU BURGER
    .burger {
        -webkit-transform: translateY(-150px);
        transform: translateY(-150px);
        left: 65%;
        top: -2%;
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
        position: fixed;
        z-index: 1000;
        @media screen and (max-width: 48em) {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
        svg {
            fill: transparent;
            stroke: $colorSite;
            stroke-width: 4px;
            stroke-linecap: round;
        }
        .top {
            stroke-dasharray: 40 250;
            -webkit-transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
            transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
        }
        .middle {
            stroke-dasharray: 40, 0;
            stroke-dashoffset: 40;
            -webkit-transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
            transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
        }
        .bottom {
            stroke-dasharray: 40 310;
            -webkit-transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
            transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
        }
    }
    .active .top {
        stroke-dashoffset: -227;
    }
    .active .middle {
        stroke-dasharray: 0, 40;
        stroke-dashoffset: 20;
    }
    .active .bottom {
        stroke-dashoffset: -287;
    }
    .nav-mobil {
        z-index: 1000;
        height: 100%;
        width: 60%;
        background-color: $colorSite;
        color: white;
        visibility: visible;
        position: fixed;
        top: 0;
        opacity: 1;
        padding-top: 75px;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
        transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
        transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
        transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
        @media screen and (max-width: 22.5em), (max-width: 36em), (max-width: 48em) {
            width: 65%;
        }
        @media screen and (max-width: 62em) {
            width: 45%;
        }
        // li {
        //     @media screen and (max-width: 22.5em), (max-width: 36em), (max-width: 48em) {
        //         margin-top: -5px;
        //     }
        // }
        @media screen and (min-width: 48em) {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            background: transparent;
        }
        a {
            @media screen and (max-width: 48em) {
                opacity: 1;
                font-size: 16px;
            }
        }
    }
    .mask.closed {
        opacity: 1;
        visibility: visible;
    }
    .mask {
        position: fixed;
        visibility: hidden;
        z-index: 999;
        opacity: 0;
        top: 0;
        left: 0;
        z-index: 998;
        width: 100%;
        height: 100%;
        background: rgba(53, 52, 52, 0.7);
        -webkit-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
    }
    nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        // z-index: 100000;
        // position: absolute;
        height: 50px;
        background-color: #F9F9F2;
        border-bottom: 1px solid $colorSite;
        width: 100%; // position: fixed;
        outline: none;
        .fa-shopping-cart {
            color: $colorSite;
            font-size: 25px;
        }
        .badge-default {
            background-color: $colorSite;
            opacity: 1;
            font-size: 15px;
            color: white;
            transform: opacity 0.35s ease-in-out;
        }
        .connect {
            margin-left: 20%;
        }
        .profil {
            margin-left: 20%;
        }
        a {
            display: block;
            white-space: nowrap;
            padding: 25px;
            color: $colorSite;
            text-decoration: none;
            font-size: 18px;
            font-family: 'Lato', cursive;
            -webkit-transition: 0.25s ease-in-out;
            transition: 0.25s ease-in-out;
            &:hover {
                color: $colorSite;
                text-decoration: none;
            }
            @media screen and (max-width: 62em) {
                font-size: 14px;
            }
            @media screen and (max-width: 48em) {
                opacity: 0;
            }
        }
        @media screen and (max-width: 48em) {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            transform: translateX(-100%);
            transition: 0.35s ease-in-out;
            height: 100%;
        }
    }
    .search {
        margin-top: 210px;
        color: rgb(192, 181, 181);
        width: 70%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid $colorSite;
        font-size: 16px;
        background-image: url('../img/search.png');
        background-position: 20px 10px;
        background-repeat: no-repeat;
        padding: 10px 20px 10px 50px;
        -webkit-transition: width 1s ease-in-out;
        -webkit-transition: 1s ease-in-out width;
        transition: 1s ease-in-out width;
        // @media screen and (max-width: 22.5em) {
        //     display: none;
        // }
        // @media screen and (max-width: 48em) {
        //     display: none;
        // }
        &:focus {
            border: 1px solid $colorSite2;
            background-color: white;
        }
        @media screen and (max-width: 22.5em),(max-width: 36em),(max-width: 48em) {
            width: 100%;
            margin-top: 35px;
            margin-left: 15%;
        }
        
    }
    h1 {
        position: absolute;
        z-index: 200;
        top: 40%;
        left: 30%;
        color: white;
        font-family: 'Cookie', cursive;
        font-size: 85px;
        height: 80px;
        width: 100%;
    }
    p {
        position: absolute;
        z-index: 200;
        top: 80%;
        left: 50%;
        color: white;
        font-family: 'Cookie', cursive;
        font-size: 25px;
    }
    .query {
        height: 100px;
        margin-left: 10%;
        width: 60%;
        margin-top: -150px;
    }
}

.active .top {
    stroke-dashoffset: -227;
}

.active .middle {
    stroke-dasharray: 0, 40;
    stroke-dashoffset: 20;
}

.active .bottom {
    stroke-dashoffset: -287;
}

//FIN MENU BURGER
.pop-inscription.open,
.pop-connect.open,
.pop-contact.open {
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

.pop-inscription.close,
.pop-connect.close,
.pop-contact.close {
    -webkit-animation: close 1s ease-in-out forwards;
    animation: close 1s ease-in-out forwards;
}

@-webkit-keyframes drop {
    0% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    70% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(500px);
        transform: translateY(500px);
    }
    100% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(400px);
        transform: translateY(400px);
    }
}

@keyframes drop {
    0% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    70% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(500px);
        transform: translateY(500px);
    }
    100% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(400px);
        transform: translateY(400px);
    }
}

@-webkit-keyframes close {
    0% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(550px);
        transform: translateY(550px);
    }
    100% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes close {
    0% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(550px);
        transform: translateY(550px);
    }
    100% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/* ligne survol menu */

.line {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.line:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    top: 0;
    background: $colorSite;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.line:hover:before,
.line:focus:before,
.line:active:before {
    right: 0;
}