//Titres h3 
@mixin h3 {
    color: white;
    font-family: 'Cookie', cursive;
    font-size: 55px;
    text-shadow: 1px 1px 0 $colorSite, 2px 2px 0 $colorSite, 3px 3px 0 $colorSite, 4px 4px 0 $colorSite, 5px 5px 0 $colorSite;
    @media screen and (max-width: 48em) {
        width: 100%;
        font-size: 35px;
    }
    @media screen and (max-width: 22.5em) {
        width: 100%;
        font-size: 25px;
    }
}

@mixin h2 {
    font-family: 'Londrina Sketch', cursive;
    color: $colorSite;
    font-size: 45px;
    text-align: center;
    @media screen and (max-width: 48em) {
		font-size: 35px;
	}
}

@mixin comments {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    .formulaire-chapter {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 70%;
        -ms-flex-item-align: center;
            align-self: center;
        margin-bottom: -300px;
        textarea {
            text-align: center;
            color: $colorSite;
            border: 1px solid rgba(128, 128, 128, 0.555);
            height: 100px;
            margin-top: -50px;
        }
        input {
            margin-top: 25px;
            padding: 15px 25px;
            border: 1px solid $colorSite;
            background-color: white;
            color: $colorSite;
            -webkit-transition: 0.35s ease-in-out;
            transition: 0.35s ease-in-out;
            &:hover {
                color: white;
                background-color: $colorSite;
            }
        }
    }
    .fa-star {
        color: rgb(240, 187, 12);
        margin-right: 2%;
    }
    .commentaires {
        width: 40%;
        a {
            text-align: center;
            margin-top: 20px;
            display: block;
            text-decoration: none;
            color: $colorSite;
            border: 1px solid $colorSite;
            width: 60%;
            padding: 10px 10px;
            -webkit-transition: .45s ease-in-out;
            transition: .45s ease-in-out;
            &:hover {
                background-color: $colorSite;
                color: white;
            }
        }
        .comment {
            color: rgb(99, 93, 93);
            font-size: 16px;
            margin-bottom: 25px;
            img {
                width: 100px;
                border-radius: 50%;
            }
          
        }
        .date {
            color: rgb(134, 129, 129);
            font-size: 18px;
            img {
                width: 50px;
                margin-right: 2%;
                margin-bottom: 20px;
            }
        }
    }
    h2 {
        font-family: "Lato", cursive;
        font-size: 22px;
        font-weight: bold;
        color: $colorSite;
    }
    hr {
        width: 100%;
        background-color: $colorSite;
        margin-bottom: 50px;
    }
}

@mixin button {
    position: absolute;
    z-index: 1000;
    border: none;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 15px 35px;
    cursor: pointer;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    top: 70%;
    left: 50%;
    font-family: 'Cookie', cursive;
    font-size: 35px;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    
}


@mixin btn {
    -ms-flex-item-align: center;
        align-self: center;
    margin-bottom: 50px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: $colorSite;
    border: 1px solid $colorSite;
    width: 30%;
    padding: 10px 10px;
    -webkit-transition: .45s ease-in-out;
    transition: .45s ease-in-out;
    &:hover {
        background-color: $colorSite;
        border: none;
        color: white;
    }
}