

.posts {
    margin-bottom: 150px;
    margin-top: 5%;
    width: 100%;
    min-height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    h3 {
        color: white;
        font-family: 'Cookie', cursive;
        font-size: 55px;
        height: 80px;
        width: 100%;
        margin-bottom: 50px;
        text-shadow: 1px 1px 0 $colorSite, 2px 2px 0 $colorSite, 3px 3px 0 $colorSite, 4px 4px 0 $colorSite, 5px 5px 0 $colorSite, 6px 6px 0 $colorSite, 7px 7px 0 $colorSite;
        @media screen and (max-width: 48em) {
            font-size: 45px;
        }
        @media screen and (max-width: 22.5em) {
            font-size: 35px;
        }
    }
    table {
        border: 2px solid $colorSite;
        -ms-flex-item-align: center;
            align-self: center;
        z-index: 100;
        width: 40%;
        border-radius: 5px;
        background: white;
     
    }
    table{
        img{
            width: 95%;
            padding: 15px;
            border-radius: 50%;
        }
        a{
            padding: 15px;
        }
        @media screen and (max-width: 22.5em) {
            width: 80%;
        }
    }
    table th{
        color: grey;
        font-size: 20px;
        padding: 10px;
        font-family: 'Lato', cursive;
       
    }
    table tr td {
        width: 30%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #999
        
    }
    table tr td:first-child {
        width: 70%;
        padding-left: 20px;
        text-align: left;
        font-family: 'Lato', cursive;
        font-weight: bold;
        a{
            display: block;
            color: $colorSite;
        }
    }
    .fa-pencil-alt, .fa-times{
        color: #999;
        text-decoration: none;
        padding: 45px;
        -webkit-transition:  .25s ease-in-out;
        transition:  .25s ease-in-out;
    }
    
    .fa-pencil-alt:hover {
        color: rgb(69, 207, 69);
        -webkit-transform: scale(1.3);
                transform: scale(1.3);
    }
    .fa-times:hover {
        color: rgb(248, 8, 8);
        -webkit-transform: scale(1.3);
                transform: scale(1.3);
    }
    table tr+tr {
        border-top: 1px solid #c4bbbb
    }
}